// Navigation Styles here
hr{
    border: 1px dashed silver;
}
.headbus{
    margin: 2% 10% -4% 10%;
    font-size: 380%;
}
.navigationbar{
    display: flex;
    .navtwo{
        margin-left: 60%;
        margin-bottom: 3%;
        margin-top: 0%;
        width: 100%;

        nav a{
            margin: 3%;
            font-size: 180%;
        }
    }
    
}