// Navigation Styles here
hr{
    border: 1px dashed silver;
}
.navigationbar{
    border: 1px solid black;

    .navtwo{
        display: flex;
        margin: 0%;
        justify-content: flex-end;
        width: 100%;

        nav a{
            margin: 5%;
        }
    }
    
}